.root {
  background: var(--color-primary);
  background: linear-gradient(
    90deg,
    var(--color-secondary) 0%,
    var(--color-primary) 100%
  );
  display: flex;
  align-items: stretch;
  height: $header-height;
  position: fixed;
  width: 100%;
  top: 0;

  .title {
    flex: 0 0 250px;
    display: flex;
    align-items: center;
    color: var(--color-main);

    .icon {
      margin: 0 8px 0 0;
      width: 32px;
      height: 32px;
    }
  }

  .inner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }
}
