.root {
  background: var(--color-main-dark);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: var(--color-primary-hover-add);
  }

  .link {
    display: flex;
    flex-direction: column;
    height: 80px;
    padding: 8px;

    .content {
      flex: 1;
    }
  }

  .progress {
    height: 4px;
    width: 100%;
    background: var(--color-primary-hover-add);
    position: relative;
    .bar {
      position: absolute;
      top: 0;
      height: 4px;
      background: var(--color-primary-hover);
    }
  }
}
