.root {
  background: var(--color-card-bg);
  border-radius: 4px;
  cursor: pointer;
  height: 80px;
  flex: 0 9999 calc(100% / 2);
  padding: 8px;
  font-size: 0.7rem;

  &.close {
    background: var(--color-main-dark);
  }

  &:hover {
    opacity: 0.7;
    background: var(--color-card-bg-hover);
    &.close {
      background: var(--color-main-dark);
    }
  }
}
